body {
    overflow: overlay;
}

.header {
    background-image: url(./genova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    background-color: rgba(0,0,0,0.2);
}

.inicio-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.inicio-container p {
    font-size: large;
    font-family: "Arial Black", Gadget, sans-serif;
}

.inicio-wrapper {
    text-align: center;
    padding: 100px;
}

.profile-wrapper {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.profile-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.my-name{
    background: rgba(187, 222, 251, 0.3);
    font-family: "Arial Black", Gadget, sans-serif;
}

.inicio-container p {
    background: rgba(187, 222, 251, 0.3);
}

.redes-container {
    position: relative;
}

.redes {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}

.red-wrapper {
    margin: 0 10px;
}

.about {
    margin: 50px 0;
}

.ai i {
    margin: 40px 0;
    font-size: 7rem;
    display: block;
}

.portfolio-container {
    padding: 30px 0;
}

#icon {
    color: #0277bd  ;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0277bd; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0277bd; 
  }